kafka-python==2.0.2
py4j==0.10.9.5
pymongo==4.6.3
pyspark==3.2.4
python-dateutil
python-dotenv==1.0.1
tensorflow==2.13.0
keras==2.13.1
transformers==4.39.3
h5py==3.10.0
huggingface-hub==0.22.2
numpy==1.14.3
pandas==0.23.0
pyarrow==0.10.0